<div>
  <mat-toolbar class="header-app">
    <mat-toolbar-row>
      <h1 class="mat-primary">Mis Hijos</h1>
      <span class="spacer-row"></span>
      <button mat-icon-button color="primary" (click)="addChild()">
        <mat-icon>person_add</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <div *ngIf="children.length > 0">
    <mat-card class="child mat-elevation-z0" *ngFor="let child of children">
      <img mat-card-image [src]="child.photo ? child.photo : defaultPhoto" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-flat-button disableRipple>{{child.name}} {{child.lastName}}</button>
        <span class="spacer-row"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item>Ver</button>
      <button mat-menu-item>Diagnosticos</button>
      <button mat-menu-item>Tratamientos</button>
    </ng-template>

  </mat-menu>
  <div style="text-align: center" *ngIf="children.length === 0">
    No se registraron hijos
  </div>
</div>

