.details-child {
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .details-data-child {
    position: relative;
    display: inline-block;
    width: 40%;
    padding: 5px 15px;
  }

  .details-data-child:nth-child(2n+1) {
    font-weight: bold;
  }
}

.mat-card {
  padding: 0 16px 16px 16px !important;
  border-radius: 15px;
  border: solid 1px #e3e3e3;

  .mat-card-image {
    margin: 0 -16px 0px -16px !important;
  }
}

.child {
  //background: red;
  display: inline-block;
  margin: 20px;
  text-align: start;
  box-shadow: 0 0 0px 3px #ffffff6b
}

.header-app {
  background: white;

  mat-toolbar-row {
    width: 80%;
    margin: auto;
  }
}
