.container2 {
  background: #333333;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header-content {
  background: transparent;
  width: 100%;
  height: 130px;
  position: absolute;
}

.overlay-content {
  //background: #00000033;
  //background: #0000001c;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 10;
}

mat-sidenav-content {
  background: white !important;
}
