<div class="table-container">
  <img class="image-icon" src="/assets/teacher.svg">
  <mat-list>
    <mat-toolbar class="white">
      <span class="text-primary">
        Tutores
      </span>
      <span class="spacer-row"></span>
      <button mat-icon-button color="primary" matTooltip="Agregar" (click)="create()">
        <mat-icon>person_add</mat-icon>
      </button>
    </mat-toolbar>
    <mat-divider class="primary"></mat-divider>
    <mat-list-item *ngFor="let tutor of tutors">
      <img mat-list-icon
           src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s32-c-fbw=1/photo.jpg"
           alt="">
      <h4 mat-line>{{tutor.name}} {{tutor.lastName}}</h4>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
