<div mat-dialog-title>{{titleForm}}</div>
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Datos del Niño">
      <div class="details">
        <div class="details-child">
          <img [src]="childSelect.photo ? childSelect.photo : defaultPhoto" mat-card-image alt="" srcset="">
        </div>
        <div class="details-child">
          <b>Nombre y Apellido</b>
          <p>{{childSelect.name}} {{childSelect.lastName}}</p>
          <b>Unidad Educativa</b>
          <p>{{childSelect.education}}</p>
          <b>Ci</b>
          <p>{{childSelect.ci ? childSelect.ci : 'No definido'}}</p>
          <b>G&eacute;nero</b>
          <p>{{childSelect.sex}}</p>
          <b>Fecha de Nacimiento</b>
          <p>{{childSelect.birthDate}}</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Diagnósticos e Intervenciones">
      <div class="treatment-container">
        <div class="nav-container">

                    <div class="menu-side">
                      <mat-list *ngIf="tests.length > 0">
                        <mat-list-item *ngFor="let tr of tests" (click)="setTest(tr)" matRipple [ngClass]="isActive(tr)">
                          <mat-icon mat-list-icon>assignment</mat-icon>
                          <h4 mat-line>{{tr.code}}</h4>
                          <p mat-line> {{tr.createdAt | date: 'mediumDate'}} </p>
                        </mat-list-item>

                      </mat-list>
                    </div>

        </div>
        <div class="content">

                    <div class="content-side" [ngClass]="getClass()">
                      <div *ngIf="testSelect">
                        <h3 class="title-test">{{getText(testSelect.totalValue)}}</h3>
                      </div>
                      <div>
                        <mat-list *ngIf="testSelect">
                          <mat-list-item *ngFor="let tr of testSelect.treatmentChildren.slice(0, 1)">{{tr.treatment.text}}</mat-list-item>
                        </mat-list>
                      </div>
                      <div *ngIf="testSelect">
                        <h4 style="text-align: center;">TAREAS RECOMENDADAS PARA LA INTERVENCI&Oacute;N DEL NI&Ntilde;O(A)</h4>
                      </div>
                      <mat-list *ngIf="testSelect" class="list-treatment">
                        <mat-list-item *ngFor="let tr of treatment">{{tr}}</mat-list-item>
                      </mat-list>
                      <div style="text-align: center;" *ngIf="testSelect">
                        <button type="button" mat-flat-button color="primary" (click)="showTreatment()">Intervención</button>
                        <button type="button" mat-flat-button color="primary" (click)="printDiacritics()">Imprimir</button>
                        <button type="button" mat-flat-button color="primary" (click)="showResult()">Respuestas</button>
                      </div>
                      <div style="text-align: center;padding: 176px;" *ngIf="!testSelect">
                        <div>No Existen Diagnósticos</div>
                      </div>
                    </div>

        </div>
      </div>

    </mat-tab>
    <mat-tab label="Evolución">
      <app-children-report [childId]="childSelect.id"></app-children-report>
    </mat-tab>
  </mat-tab-group>


</div>
<div mat-dialog-actions>
  <span class="spacer-row"></span>
  <button cdkFocusInitial color="primary" (click)="cancel()" mat-stroked-button>Cerrar</button>
</div>


