<div mat-dialog-title>{{titleForm}}</div>
<div mat-dialog-content>
  <div class="details">
    <div class="details-child">
      <img [src]="childSelect.photo ? childSelect.photo : defaultPhoto" mat-card-image alt="" srcset="">
    </div>
    <div class="details-child">
      <b>Nombre</b>
      <p>{{childSelect.name}}</p>
      <b>Apellido</b>
      <p>{{childSelect.lastName}}</p>
      <b>Ci</b>
      <p>{{childSelect.ci ? childSelect.ci : 'No definido'}}</p>
      <b>Genero</b>
      <p>{{childSelect.sex}}</p>
      <b>Fecha de Nacimiento</b>
      <p>{{childSelect.birthDate}}</p>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <span class="spacer-row"></span>
  <button cdkFocusInitial color="primary" (click)="cancel()" mat-stroked-button>Cerrar</button>
</div>


