<app-table-toolbar
  [title]="title"
  [onBank]="true"
  [onNew]="false">
</app-table-toolbar>
<div class="table-container">
  <!--  <form  autocomplete="off">-->
  <mat-card>
    <mat-card-title>{{titleForm}}</mat-card-title>
    <img [src]="childSelect.photo" mat-card-image alt="" srcset="">
    <mat-card-content>
      <b>Nombre</b>
      <p>{{childSelect.name}}</p>
      <b>Apellido</b>
      <p>{{childSelect.lastName}}</p>
      <b>Ci</b>
      <p>{{childSelect.ci ? childSelect.ci : 'No definido'}}</p>
      <b>Genero</b>
      <p>{{childSelect.sex}}</p>
      <b>Fecha de Nacimiento</b>
      <p>{{childSelect.birthDate}}</p>
    </mat-card-content>
    <mat-card-actions>
      <!--        <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>-->
      <span class="spacer-row"></span>
      <button color="primary" (click)="cancel()" mat-raised-button>Cerrar</button>
    </mat-card-actions>
  </mat-card>
  <!--  </form>-->
</div>


