<div mat-dialog-title>{{title}}</div>
<div mat-dialog-content>

  <div class="container-photo">
    <div class="photo">
      <ng-container *ngIf="archivo">
        <img class="photo-loader" *ngIf="isVideo() === false" [src]="archivo" alt="">
        <video class="photo-loader" *ngIf="isVideo() === true">
          <source [src]="archivo" type="video/mp4">
        </video>
      </ng-container>

<!--      <div class="photo-loader" *ngIf="archivo" [ngStyle]="getUrlArchivo()"></div>-->
      <div class="wrapper file-camera" matRipple [matRippleColor]="'#ffffff26'">
        <div class="file-upload" matTooltip="Subir recurso">
          <!--<div>Presiona en <div><mat-icon>upload</mat-icon></div> para adjuntar su archivo</div>-->
          <input type="file" id="archivo" accept="image/jpeg,image/jpg,image/png,video/mp4" (change)="onFileChange($event)">
          <mat-icon>file_upload</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="display: flex" mat-dialog-actions>
  <span class="spacer-header"></span>
  <button mat-flat-button color="warn" style="margin-right: 10px;" mat-dialog-close (click)="visible=false">Cancelar</button>
  <button mat-flat-button color="primary" (click)="aceptar()">Aceptar</button>
</div>

