<div class="login-background">
  <div class="login">
    <mat-card class="mat-elevation-z3" style="width: 330px !important;">
      <mat-card-title>Registro</mat-card-title>
      <form [formGroup]="tutorForm" (ngSubmit)="accept()" autocomplete="off">
        <mat-card-content>

          <mat-form-field appearance="outline">
            <mat-label>Nombres</mat-label>
            <input formControlName="name" required matInput placeholder="Nombres">
            <mat-error *ngIf="tutorForm.get('name').hasError('required')">
              Ingrese un Nombre(s) v&aacute;lido
            </mat-error>
            <mat-error *ngIf="tutorForm.get('name').hasError('minlength')">
              Longitud minima de 3 letras
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input formControlName="lastName" required matInput placeholder="Apellidos">
            <mat-error *ngIf="tutorForm.get('lastName').hasError('required')">
              Ingrese un Apellido(s) v&aacute;lido
            </mat-error>
            <mat-error *ngIf="tutorForm.get('lastName').hasError('minlength')">
              Longitud minima de 3 letras
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>CI</mat-label>
            <input formControlName="ci" required matInput placeholder="CI">
            <mat-error *ngIf="tutorForm.get('ci').hasError('required')">
              Ingrese un n&uacute;mero v&aacute;lido
            </mat-error>
            <mat-error
              *ngIf="(tutorForm.get('ci').hasError('minlength')||tutorForm.get('ci').hasError('maxlength'))&&!tutorForm.get('ci').hasError('pattern')">
              Longitud minima de 7 numeros y m&aacute;ximo de 10
            </mat-error>
            <mat-error *ngIf="tutorForm.get('ci').hasError('pattern')">
              Solo debe contener Numeros
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Telf./Cel.</mat-label>
            <input formControlName="cell" required matInput placeholder="Telf./Cel.">
            <mat-error *ngIf="tutorForm.get('cell').hasError('required')">
              Ingrese un n&uacute;mero v&aacute;lido
            </mat-error>
            <mat-error
              *ngIf="(tutorForm.get('cell').hasError('minlength')||tutorForm.get('cell').hasError('maxlength'))&&!tutorForm.get('cell').hasError('pattern')">
              Longitud minima de 7 numeros y m&aacute;ximo de 10
            </mat-error>
            <mat-error *ngIf="tutorForm.get('cell').hasError('pattern')">
              Solo debe contener Numeros
            </mat-error>
          </mat-form-field>

<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Correo Electronico</mat-label>-->
<!--            <input formControlName="email" type="email" required matInput placeholder="Correo Electronico">-->
<!--            <mat-error-->
<!--              *ngIf="tutorForm.get('email').hasError('required') || tutorForm.get('email').hasError('email')">-->
<!--              Ingrese un correo v&aacute;lido-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->

<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Contraseña</mat-label>-->
<!--            <input formControlName="password" required matInput placeholder="Contraseña"-->
<!--                   [type]="hide ? 'password' : 'text'">-->
<!--            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"-->
<!--                    [attr.aria-pressed]="hide">-->
<!--              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--            </button>-->
<!--            <mat-error *ngIf="tutorForm.get('password').hasError('required')">-->
<!--              Debe Ingresar contrase&ntilde;a-->
<!--            </mat-error>-->
<!--            <mat-error *ngIf="tutorForm.get('password').hasError('minlength')">-->
<!--              La longitud m&iacute;nima es de 8 caracteres-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->
<!--          <div>-->
<!--            <mat-checkbox formControlName="conditions">Accepto los Terminos y Condiciones</mat-checkbox>-->
<!--          </div>-->
        </mat-card-content>
        <mat-card-actions>
          <button class="custom-button" type="button" color="warn" (click)="cancel()" mat-stroked-button>Cancelar
          </button>
          <span class="spacer-row"></span>
          <button class="custom-button" type="submit" color="primary" [disabled]="tutorForm.invalid" mat-stroked-button>
            Aceptar
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
