<div class="list-images-home">
  <div class="container">
    <mat-card style="border-radius: 15px">
      <div>
        <h2>Misi&oacute;n</h2>
        <p>La misión de Centro Educativo Integral (Gabinete Pedagógico Tiquipaya) es propiciar una atención psicopedagógica oportuna y eficaz a niños/niñas, jóvenes, padres de familia, por medio de procesos de asistencia inmediata (intervención, asesoramiento, terapia individual y grupal, talleres), orientadas a mejorar la calidad de aprendizaje y enseñanza para una mejor calidad de vida.</p>
      </div>
      <div>
        <h2>Visi&oacute;n</h2>
        <p>La visión del Centro Educativo Integral (Gabinete Pedagógico Tiquipaya), es brindar una atención integral e inter disciplinaria en orientación educativa, familiar y organizacional de manera oportuna y eficaz a quien lo requiera, bajo un sistema de gestión de calidad que garantice el mejoramiento continuo. </p>
      </div>
    </mat-card>

    <div *ngFor="let i of images">
      <img [src]="i.url" [alt]="i.alt">
    </div>
  </div>

</div>
