<h1 mat-dialog-title>{{question.question}}</h1>
<div mat-dialog-content>
  <div>
    <mat-carousel [useKeyboard]="true" [hideIndicators]="false" [autoplay]="false" [hideArrows]="false" color="primary" [loop]="false">
      <mat-carousel-slide *ngFor="let img of question.questionAssets" [image]="getAssets(img.asset)" [overlayColor]="color">
      </mat-carousel-slide>
    </mat-carousel>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="close()">Cerrar</button>
</div>
