<mat-toolbar color="primary" class="mat-elevation-z0">
  <mat-toolbar-row>
    <!--    <button tabindex="-1" mat-icon-button type="button" *ngIf="!sideService.sideMenu" (click)="sideService.openMenu()">-->
    <!--      <mat-icon mat-list-icon>menu</mat-icon>-->
    <!--    </button>-->
    <button tabindex="-1" mat-icon-button type="button" *ngIf="onBank" (click)="back()">
      <mat-icon mat-list-icon>arrow_back</mat-icon>
    </button>
    <!--    <span>{{title}}</span>-->
    <span class="spacer-row"></span>
    <button tabindex="-1" mat-icon-button *ngIf="onPrint" (click)="print_p()">
      <mat-icon aria-hidden="false" aria-label="Example heart icon">print</mat-icon>
    </button>
    <button color="primary" style="border-radius: 20px;" tabindex="-1" mat-stroked-button *ngIf="onNew"
            (click)="create()">
      <mat-icon aria-hidden="false" aria-label="Example heart icon">add</mat-icon>
      Nuevo
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar mode="query" *ngIf="loader"></mat-progress-bar>


