<!--<mat-toolbar color="primary" class="mat-elevation-z1">-->
<!--  <mat-toolbar-row class="delete">-->
<!--    <span>Eliminar</span>-->
<!--    <span class="spacer-row"></span>-->
<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->
<!--<mat-progress-bar mode="query" *ngIf="sideService.loaderForm"></mat-progress-bar>-->
<form (ngSubmit)="accept()">
<!--  <mat-card>-->
    <div mat-dialog-title>
      Eliminar
    </div>
    <div mat-dialog-content>
      Cuidado!! Usted va a eliminar el registro {{data}}
      <input type="hidden" #ss>
    </div>
    <div mat-dialog-actions>
      <button type="button" (click)="cancel()" mat-stroked-button>Cancelar</button>
      <span class="spacer-row"></span>
      <button color="warn" type="submit"  mat-stroked-button cdkFocusInitial>Aceptar</button>
    </div>
<!--  </mat-card>-->
</form>
