.mat-dialog-content{
  height: 312px !important;
}
mat-list-item{
  height: auto;
  //margin-bottom: 15px;
}
mat-list-item.item {
  font-size: 14px;
  margin-left: 32px;
  width: auto;
  display: list-item;
}
