<!--<app-table-toolbar [title]="title" (new)="create()"></app-table-toolbar>-->
<div class="table-container">
  <!--  <mat-card>-->
  <!--    <table mat-table [dataSource]="dataSource" matSort>-->
  <!--      <ng-container matColumnDef="pos">-->
  <!--        <th mat-header-cell *matHeaderCellDef class="position">#</th>-->
  <!--        <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>-->
  <!--      </ng-container>-->
  <!--      <ng-container matColumnDef="name">-->
  <!--        <th mat-header-cell mat-sort-header *matHeaderCellDef>Nombres</th>-->
  <!--        <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
  <!--      </ng-container>-->
  <!--      <ng-container matColumnDef="lastName">-->
  <!--        <th mat-header-cell mat-sort-header *matHeaderCellDef>Apellidos</th>-->
  <!--        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>-->
  <!--      </ng-container>-->
  <!--      <ng-container matColumnDef="ci">-->
  <!--        <th mat-header-cell mat-sort-header class="number" *matHeaderCellDef>CI</th>-->
  <!--        <td mat-cell *matCellDef="let element" class="number"> {{element.ci}} </td>-->
  <!--      </ng-container>-->
  <!--      <ng-container matColumnDef="cell">-->
  <!--        <th mat-header-cell mat-sort-header *matHeaderCellDef>Tel/Cell</th>-->
  <!--        <td mat-cell *matCellDef="let element" class="number"> {{element.cell}} </td>-->
  <!--      </ng-container>-->
  <!--      <ng-container matColumnDef="email">-->
  <!--        <th mat-header-cell mat-sort-header *matHeaderCellDef>Correo</th>-->
  <!--        <td mat-cell *matCellDef="let element" class="number"> {{element.email}} </td>-->
  <!--      </ng-container>-->
  <!--      <ng-container matColumnDef="position">-->
  <!--        <th mat-header-cell mat-sort-header *matHeaderCellDef>Cargo</th>-->
  <!--        <td mat-cell *matCellDef="let element" class="number"> {{element.position}} </td>-->
  <!--      </ng-container>-->
  <!--      <ng-container matColumnDef="profession">-->
  <!--        <th mat-header-cell mat-sort-header *matHeaderCellDef>Profesion</th>-->
  <!--        <td mat-cell *matCellDef="let element" class="number"> {{element.profession}} </td>-->
  <!--      </ng-container>-->
  <!--      <ng-container matColumnDef="options">-->
  <!--        <th mat-header-cell *matHeaderCellDef>Opciones</th>-->
  <!--        <td mat-cell *matCellDef="let element">-->
  <!--          <div class="options">-->
  <!--            <button mat-icon-button (click)="update(element)">-->
  <!--              <mat-icon>edit</mat-icon>-->
  <!--            </button>-->
  <!--            <button mat-icon-button (click)="delete(element)">-->
  <!--              <mat-icon>delete</mat-icon>-->
  <!--            </button>-->
  <!--          </div>-->
  <!--        </td>-->
  <!--      </ng-container>-->
  <!--      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
  <!--      <tr mat-row *matRowDef="let dataRow; columns: displayedColumns;"></tr>-->
  <!--    </table>-->
  <!--  </mat-card>-->

  <mat-list>
    <button color="primary" style="border-radius: 20px;margin-bottom: 20px;" tabindex="-1" mat-raised-button
            (click)="create()">
      <mat-icon aria-hidden="false" aria-label="Example heart icon">add</mat-icon>
      Nuevo
    </button>
    <mat-list-item *ngFor="let tutor of dataSource.data">
      <img mat-list-icon
           src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s32-c-fbw=1/photo.jpg"
           alt="">
      <h4 mat-line>{{tutor.name}} {{tutor.lastName}}</h4>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
