.menu-navigation {
  width: 350px;
  height: 100%;
  background: white;
  //overflow: hidden auto;
}

.mat-toolbar.mat-primary {
  background: #333;
  color: #fff;
}

.img {
  background: #3848a1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto 15px auto auto;
}

.active-r {
  //background: #3f3f3f;
  //background: #41f0d0;
  background: #41f0d087;
}

.mat-menu-item {
  //color: #41f0d0;
}

.mat-icon {
  //color: white;
}
.img-panel {
  width: calc(100% - 100px);
  padding: 20px 50px 20px;
}
