.content-assets {
  //display: inline-block;
  width: 100%;
  height: 100%;

  .img-asset-content{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #d4d4d4;
    margin: 5px;
    line-height: 100px;
    text-align: center;

    background-size: contain;
    /* background: no-repeat !important; */
    /* background: center; */
    background-position: center;
    background-repeat: no-repeat;

    .img-asset{
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
    mat-icon{
      color: #00000096;
    }
  }
  .img-asset-content:hover{
    mat-icon{
      color: black;
    }
  }

}
