<form [formGroup]="childForm" (ngSubmit)="accept()" autocomplete="off">
  <h1 mat-dialog-title>{{titleForm}}</h1>
  <div mat-dialog-content>

    <mat-form-field [appearance]="appearance">
      <mat-label>Nombres</mat-label>
      <input formControlName="name" required matInput placeholder="Nombres">
      <mat-error *ngIf="childForm.get('name').hasError('required')">
        Ingrese un Nombre(s) v&aacute;lido
      </mat-error>
      <mat-error *ngIf="childForm.get('name').hasError('minlength')">
        Longitud minima de 3 letras
      </mat-error>
    </mat-form-field>
    <mat-form-field [appearance]="appearance">
      <mat-label>Apellidos</mat-label>
      <input formControlName="lastName" required matInput placeholder="Apellidos">
      <mat-error *ngIf="childForm.get('lastName').hasError('required')">
        Ingrese un Apellido(s) v&aacute;lido
      </mat-error>
      <mat-error *ngIf="childForm.get('lastName').hasError('minlength')">
        Longitud minima de 3 letras
      </mat-error>
    </mat-form-field>

    <div class="row">
      <div class="col">
        <mat-form-field [appearance]="appearance">
          <mat-label>CI</mat-label>
            <input formControlName="ci" matInput placeholder="CI">
            <mat-error
              *ngIf="(childForm.get('ci').hasError('minlength')||childForm.get('ci').hasError('maxlength'))&&!childForm.get('ci').hasError('pattern')">
              Longitud minima de 7 numeros y m&aacute;ximo de 10
            </mat-error>
            <mat-error *ngIf="childForm.get('ci').hasError('pattern')">
              Solo debe contener Numeros
            </mat-error>
          </mat-form-field>
        <mat-form-field [appearance]="appearance">
          <mat-label>Genero</mat-label>
            <mat-select formControlName="sex" required placeholder="Genero">
              <mat-option value="Masculino">Masculino</mat-option>
              <mat-option value="Femenino">Femenino</mat-option>
            </mat-select>
            <mat-error *ngIf="childForm.get('sex').hasError('required')">
              Debe Seleccionar un Genero
            </mat-error>
          </mat-form-field>
        <mat-form-field [appearance]="appearance">
          <mat-label>Fecha de Nacimiento</mat-label>
            <input formControlName="birthDate" (click)="picker.open()" matInput [matDatepicker]="picker"
                   placeholder="Fecha de Nacimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="childForm.get('birthDate').hasError('required')">
              Debe Seleccionar o ingresar la Fecha de Nacimiento
            </mat-error>
          </mat-form-field>
      </div>
      <div class="col">
        <div class="img">
          <img *ngIf="childForm.get('photo').value" [src]="childForm.get('photo').value">
<!--          <div class="panel"></div>-->
          <button type="button" mat-fab (click)="takePhoto()" class="camera mat-elevation-z0">
            <mat-icon>photo_camera</mat-icon>
          </button>
          <div class="wrapper mat-elevation-z0 file-camera" matRipple [matRippleColor]="'#ffffff26'">
            <div class="file-upload">
              <input type="file" accept="image/*" (change)="onFileChange($event)">
              <mat-icon>file_upload</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div mat-dialog-actions>
    <button type="button" mat-button color="warn" (click)="cancel()">Cancelar</button>
    <span class="spacer-row"></span>
    <button type="submit" [disabled]="!childForm.valid" color="primary" mat-button>Guardar</button>
  </div>
</form>


