
<form [formGroup]="testForm" autocomplete="off" (ngSubmit)="accept()">
  <h1 mat-dialog-title>{{titleForm}}</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Codigo</mat-label>
      <input formControlName="code" matInput placeholder="Codigo">
      <mat-error *ngIf="testForm.get('code').hasError('required')">
        Ingrese un codigo Valido
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Niño(a)</mat-label>
      <mat-select formControlName="childId" required placeholder="Niño(a)">
        <mat-option *ngFor="let child of children" [value]="child.id">{{child.name}} {{child.lastName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="testForm.get('childId').hasError('required')">
        Debe Seleccionar un Niño(a)
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-stroked-button color="warn" (click)="cancel()">Cancelar</button>
    <span class="spacer-row"></span>
    <button type="submit" color="primary" [disabled]="!testForm.valid" mat-stroked-button>Guardar</button>
  </div>
</form>


