<div class="login-background">
<!--  <iframe src="http://localhost/cei/" frameborder="0">-->

<!--  </iframe>-->
  <div class="login-panel">
  </div>
  <mat-card class="mat-elevation-z3" style="width: 330px !important;">
    <form [formGroup]="user" (ngSubmit)="send()">
      <mat-card-title>Iniciar Sesion</mat-card-title>
      <div style="text-align: center">
        <img src="/assets/logo.svg" style="    width: 150px;" alt="">
      </div>
      <mat-card-content>
        <mat-form-field [appearance]="appearance">
          <mat-label>Usuario</mat-label>
          <input formControlName="email" matInput placeholder="Correo">
        </mat-form-field>
        <mat-form-field [appearance]="appearance">
          <mat-label>Contraseña</mat-label>
          <input formControlName="password" matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
          <button tabindex="-1" type="button" mat-icon-button matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="register()" type="button" mat-stroked-button color="accent" class="mat-ripple custom-button">
          Registrarse
        </button>
        <button type="submit" mat-stroked-button color="primary" class="mat-ripple custom-button">Iniciar Sesión
        </button>
      </mat-card-actions>
    </form>
  </mat-card>

</div>
<!--<div class="login-background">-->
<!--  <div class="login">-->
<!--    -->
<!--  </div>-->
<!--</div>-->
