<div class="solved-content">
  <!--  <h1 mat-dialog-title class="mat-elevation-z3"></h1>-->
  <mat-toolbar class="mat-elevation-z3">
    <mat-toolbar-row>
      <button mat-icon-button matTooltip="Cancelar" (click)="closeTest()"><mat-icon>arrow_back</mat-icon></button>
      <span>Modificar Test</span>
      <span class="spacer-row"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content>
    <form autocomplete="off">
      <mat-card style="width: 700px;margin: auto;">
        <mat-card-title>Nota</mat-card-title>
        <mat-card-content>
          <p>Debe tomar en cuenta el puntaje de cada opci&oacute;n, donde:</p>
          <p><b>0</b> es bueno.</p>
          <p><b>1</b> es regular</p>
          <p><b>2</b> es malo</p>
          <p><b>3</b> es muy malo</p>
        </mat-card-content>
      </mat-card>
      <mat-card *ngFor="let question of questions; let i = index;" class="customQuestion">
<!--        <div class="position-n">{{i + 1}}</div>-->

          <mat-card-title>
            <span>{{i + 1}}.-</span>
            <span style="color: red"> * </span>
            <input type="text" [(ngModel)]="question.question" [name]="i + 'question'">
            <button mat-icon-button style="position: absolute;right: 6px;top: 6px;" (click)="removeQuestion(i)"><mat-icon>close</mat-icon></button>
          </mat-card-title>
          <mat-card-subtitle>
            <input type="text" [(ngModel)]="question.details" [name]="i + 1 + 'detail'">
          </mat-card-subtitle>
          <mat-card-content>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button *ngFor="let option of question.questionOptions; let j = index" disabled
                                [value]="option">Puntaje: {{option.value}}
                <input type="text" [(ngModel)]="option.description" name="{{i}}option{{j}}option">
                <button mat-icon-button type="button" (click)="deleteOption(question, j)"><mat-icon>do_not_disturb_on</mat-icon></button>
              </mat-radio-button>
              <button mat-flat-button color="primary" *ngIf="question.questionOptions.length < 4" (click)="addOption(i)"><mat-icon>add</mat-icon>Nueva opción</button>
            </mat-radio-group>
            <p *ngIf="i < 12">Recursos: {{question?.questionAssets?.length ? question?.questionAssets?.length : 0}}</p>
            <button *ngIf=" i < 12" mat-button color="primary" (click)="openResource(question)">Abrir Recursos</button>
          </mat-card-content>

      </mat-card>
      <button *ngIf="questions" (click)="addQuestion()" mat-flat-button color="primary" class="customQuestion">Nueva Pregunta</button>
    </form>

  </div>
  <mat-card-actions>
    <span class="spacer-row"></span>
    <button type="button" mat-flat-button color="warn" (click)="closeTest()" style="margin-right: 10px">Cancelar</button>
    <button type="button" mat-flat-button color="primary" (click)="accept()">Guardar</button>
  </mat-card-actions>

</div>
