/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//*:not(.mat-icon){
//  font-size: 12px !important;
//}
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.mat-elevation-z1 {
  box-shadow: none;
  border-bottom: solid 1px #e0e0e0;
}

.mat-icon-button {
  overflow: hidden !important;
}

.spacer-row {
  flex: 1 1 auto;
}

.number {
  text-align: right !important;
  min-width: 40px;
}

.position {
  width: 40px !important;
}

td.mat-cell, th.mat-cell {
  padding: 0 15px !important;
}

.table-container {
  width: 100%;
  height: calc(100% - 79px);
  overflow: auto;
  padding-top: 15px;
  margin-top: 64px;
}

@media (max-width: 599px) {
  .table-container {
    width: 100%;
    height: calc(100% - 71px);
    overflow: auto;
    padding-top: 15px;
    margin-top: 56px;
  }
}

mat-sidenav-content {
  background-color: #d0d0d04d;
}

.mat-dialog-container {
  padding: 0 !important;
}

mat-card-actions {
  display: flex !important;
}

.mat-form-field {
  width: 100%;
}

mat-card {
  margin: 21px auto;
  width: 300px !important;

  mat-form-field {
    width: 100%;
  }

  mat-card-actions {
    display: flex !important;
    padding: 0 !important;
    margin: 15px 0 0 0 !important;
  }
}

.crud-card {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mat-dialog-content {
  margin: 0 !important;
  padding: 24px !important;
}

.mat-menu-item-highlighted:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item:hover:not([disabled]) {
  background: rgb(63, 63, 63);
}

mat-dialog-container mat-toolbar-row:not(.delete) {
  background: #4a4a4a;
  color: white;
}

td .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}

table {
  width: auto;
  margin: auto;

  div.options {
    width: max-content;
  }

  tr:hover {
    cursor: pointer;
    z-index: 999;
    outline: #bfbfbf auto 1px;
    background: #fbfbfb;
  }

  td {
    button {
      .mat-icon {
        color: #6f6f6f !important;
      }
    }

    button:hover {
      background-color: #F9F9F9;
    }
  }
}

table th.mat-header-cell {
  padding: 0 15px !important;
}

input[type="number"] {
  text-align: right;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent;
}

.card-buttons-footer {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 0;
  width: 330px !important;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
  margin: 0 !important;
}

.customQuestion .mat-card-title {
  font-size: 18px !important;
}

.customQuestion .mat-radio-button {
  width: 100%;
  padding: 12px;
}
