/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*:not(.mat-icon) {
  font-family: 'Roboto', sans-serif;
  letter-spacing: normal;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.mat-elevation-z1 {
  box-shadow: none;
  border-bottom: solid 1px #e0e0e0;
}

.mat-icon-button {
  overflow: hidden !important;
}

.spacer-row {
  flex: 1 1 auto;
}

.number {
  text-align: right !important;
  min-width: 40px;
}

.position {
  width: 40px !important;
}

td.mat-cell, th.mat-cell {
  padding: 0 15px !important;
}

.table-container {
  width: 100%;
  height: calc(100% - 67px);
  overflow: auto;
  //padding-top: 15px;
  //margin-top: 64px;
  .mat-list-base {
    max-width: 100%;
    margin: auto;

    mat-list-item:hover {
      border-radius: 10px;
      background: #3f51b521;
      cursor: pointer;
      //border-bottom: none !important;
    }

    mat-list-item:not(:first-child) {
      //border-bottom: solid 1px #dadada;
    }
  }
}

@media (max-width: 599px) {
  .table-container {
    width: 100%;
    height: calc(100% - 71px);
    overflow: auto;
    padding-top: 15px;
    margin-top: 56px;
  }
}

mat-sidenav-content {
  //background-color: #d0d0d04d;
  background-image: url("/assets/bg-minimal.jpg");
  //background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.mat-dialog-container {
  //padding: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-radius: 15px !important;
}


mat-card-actions {
  display: flex !important;

}

.mat-dialog-title, .mat-dialog-actions {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.mat-form-field {
  width: 100%;
}

.crud-card {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mat-dialog-content {
  margin: 0 !important;
  padding: 24px !important;
}

mat-dialog-container mat-toolbar-row:not(.delete) {
  background: #4a4a4a;
  color: white;
}

td .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}

table {
  width: auto;
  margin: auto;

  div.options {
    width: max-content;
  }

  td {
    button {
      .mat-icon {
        color: #6f6f6f !important;
      }
    }

    button:hover {
      background-color: #F9F9F9;
    }
  }
}

table th.mat-header-cell {
  padding: 0 15px !important;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent;
}

.card-buttons-footer {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 0;
  width: 330px !important;
}

.mat-ink-bar {
  height: 5px !important;
  border-radius: 90px 90px 0 0 !important;
}

.customQuestion .mat-card-title {
  font-size: 18px !important;
}

.customQuestion .mat-radio-button {
  width: 100%;
  padding: 12px;
}

.custom-button {
  border-radius: 20px !important;
  min-width: 100px !important;
  margin: auto !important;
}

nav .mat-tab-link-container {
  height: inherit;
}

nav .mat-tab-link-container .mat-tab-list {
  height: inherit;
}

nav .mat-tab-link-container .mat-tab-list .mat-tab-links {
  height: inherit;
}

nav .mat-tab-links > .mat-tab-link {
  height: inherit;
}

video {
  border-radius: 15px;
}

.cdk-overlay-dark-backdrop {
  background: rgba(37, 37, 37, 0.81) !important;
}

.mat-menu-panel {
  border-radius: 0 30px 20px !important;
}

.mat-select-panel {
  border-radius: 20px 20px !important;
}

button {
  border-radius: 50px !important;
}

.mat-horizontal-content-container {
  padding: 0 0px 12px 0px !important;
}

.white {
  background: white;
}

.text-primary {
  color: #3f51b5;
}

mat-divider.primary {
  border-top-width: 2px;
  border-top-color: rgb(63 81 181 / 60%);
}

img.image-icon {
  width: 100px;
  position: absolute;
  left: 30px;
  top: 100px;
}

.mat-dialog-content {
  border-bottom: solid 1px #4e4e4e40;
}

.back .mat-dialog-container {
  padding-bottom: 12px !important;
}
.carousel-slide {
  background-size: contain !important;
}

.mat-snack-bar-container {
  border-radius: 50px !important;
}
.notify-empty {
  text-align: center;
  margin: 100px;
  color: #9e9e9e;
}
.redContent{
  background: #3f51b5;
}

.red{
  background: #ff00001f;
}
.green{
  background: #0080001f;
}
.yellow{
  background: #ffff001f;
}
.orange{
  background: #ffa5001f;
}
.white {
  background: #ffffff;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8888886b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8888882f;
}
mat-list-item .mat-list-icon{
  color: #9e9e9e;
}
// calendar
.fc {
  text-transform: capitalize;

  .fc-button-group>.fc-button {
    flex: 1 1 auto;
    position: relative;
    width: 40px;
    margin-right: 10px;
  }

  .fc-button .fc-icon {
    font-size: 1.5em;
    margin-left: -4px;
    vertical-align: middle;
  }

  .fc-button-primary {
    background-color: #3f51bc !important;
    border-color: #3f51bc !important;
    color: #fff !important;
  }

  .fc-button-primary:hover {
    background-color: #4b5ab1bd !important;
    border-color: #4b5ab1bd !important;
  }

  .fc-button-primary:focus {
    box-shadow: #3f51b5 !important;
  }

  .fc-button-primary:focus {
    box-shadow: none !important;
  }
   .fc-button:focus {
    box-shadow: none !important;
    outline: 0;
  }
  .fc-daygrid-day-bg .fc-bg-event {
    overflow: hidden;
  }
  .fc-daygrid-day-number {
    padding: 4px;
    position: relative;
    z-index: 4;
    background: #3f51bc;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    color: white;
  }
  .fc-bg-event .fc-event-title {
    font-size: .85em;
    font-style: italic;
    /* margin: .5em; */
    margin: 0 !important;
    width: inherit !important;
    height: inherit !important;
    overflow: hidden !important;
  }
}
@mixin custom-event-color {
  opacity: 1 !important;
  cursor: pointer;
  height: 100%;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  overflow: hidden !important;
  padding-top: 20px !important;
}

.custom-event-color:hover{
  opacity: 0.5 !important;
}

.blue-event {
  @include custom-event-color;
  background: #2d9eff26 !important;
  color: black;
}
.red-event{
  background: rgba(255, 13, 0, 0.15) !important;
  color: black;
}
.purple-event{
  @include custom-event-color;
  background: rgba(68, 0, 255, 0.15) !important;
  color: black;
}
.green-event{
  @include custom-event-color;
  background: rgba(0, 255, 68, 0.15) !important;
  color: black;
}

.event-complete{
  border: solid #008004 !important;
}


.orange-event{
  @include custom-event-color;
  background: rgba(255, 140, 0, 0.15) !important;
  color: black;
}
.cyan-event{
  @include custom-event-color;
  background: rgba(0, 199, 255, 0.15) !important;
  color: black;
}
.white-snack{
  background-color: white;
  color: black;
}
.card-content{
  width: 60%;
  margin: 25px auto;
  height: calc(100% - 82px);
  mat-toolbar{
    margin: -16px 0px 0px -16px !important;
    width: calc(100% + 32px) !important;
    border-radius: 10px !important;
  }
}

