/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//*:not(.mat-icon){
//  font-size: 12px !important;
//}
*:not(.mat-icon) {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.mat-elevation-z1 {
  box-shadow: none;
  border-bottom: solid 1px #e0e0e0;
}

.mat-icon-button {
  overflow: hidden !important;
}

.spacer-row {
  flex: 1 1 auto;
}

.number {
  text-align: right !important;
  min-width: 40px;
}

.position {
  width: 40px !important;
}

td.mat-cell, th.mat-cell {
  padding: 0 15px !important;
}

.table-container {
  width: 100%;
  height: calc(100% - 67px);
  overflow: auto;
  //padding-top: 15px;
  //margin-top: 64px;
  .mat-list-base {
    max-width: 700px;
    margin: auto;

    mat-list-item:hover {
      border-radius: 10px;
      background: #3f51b521;
      cursor: pointer;
      //border-bottom: none !important;
    }

    mat-list-item:not(:first-child) {
      //border-bottom: solid 1px #dadada;
    }
  }
}

@media (max-width: 599px) {
  .table-container {
    width: 100%;
    height: calc(100% - 71px);
    overflow: auto;
    padding-top: 15px;
    margin-top: 56px;
  }
}

mat-sidenav-content {
  //background-color: #d0d0d04d;
  background-image: url("/assets/bg-minimal.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.mat-dialog-container {
  padding: 0 !important;
  border-radius: 15px !important;
}

mat-card-actions {
  display: flex !important;
}

.mat-form-field {
  width: 100%;
}

mat-card {
  margin: 21px auto;
  width: 300px !important;

  mat-form-field {
    width: 100%;
  }

  mat-card-actions {
    display: flex !important;
    padding: 0 !important;
    margin: 15px 0 0 0 !important;
  }
}

.crud-card {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mat-dialog-content {
  margin: 0 !important;
  padding: 24px !important;
}

//.mat-menu-item-highlighted:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item:hover:not([disabled]) {
//  background: rgb(63, 63, 63);
//}

mat-dialog-container mat-toolbar-row:not(.delete) {
  background: #4a4a4a;
  color: white;
}

td .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}

table {
  width: auto;
  margin: auto;

  div.options {
    width: max-content;
  }

  //tr:hover {
  //  cursor: pointer;
  //  z-index: 999;
  //  outline: #bfbfbf auto 1px;
  //  background: #fbfbfb;
  //}

  td {
    button {
      .mat-icon {
        color: #6f6f6f !important;
      }
    }

    button:hover {
      background-color: #F9F9F9;
    }
  }
}

table th.mat-header-cell {
  padding: 0 15px !important;
}

input[type="number"] {
  text-align: right;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent;
}

.card-buttons-footer {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 0;
  width: 330px !important;
}

.mat-ink-bar {
  height: 5px !important;
  border-radius: 90px 90px 0 0 !important;
}

.customQuestion .mat-card-title {
  font-size: 18px !important;
}

.customQuestion .mat-radio-button {
  width: 100%;
  padding: 12px;
}

.custom-button {
  border-radius: 20px !important;
  min-width: 100px !important;
  margin: auto !important;
}

nav .mat-tab-link-container {
  height: inherit;
}

nav .mat-tab-link-container .mat-tab-list {
  height: inherit;
}

nav .mat-tab-link-container .mat-tab-list .mat-tab-links {
  height: inherit;
}

nav .mat-tab-links > .mat-tab-link {
  height: inherit;
}

//.mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon {
//  width: 35px !important;
//  height: 35px !important;
//}
video {
  border-radius: 15px;
}

app-test-solved {
  .mat-dialog-content {
    height: calc(100% - 48px) !important;
    max-height: 100%;
    overflow: hidden auto !important;
  }
}

.cdk-overlay-dark-backdrop {
  background: rgba(37, 37, 37, 0.81) !important;
}
