<div class="tracing">
  <mat-toolbar>
    Seguimiento
    <span class="spacer-row"></span>
    <button mat-icon-button matTooltip="Cerrar" [mat-dialog-close]="child"><mat-icon>close</mat-icon></button>
  </mat-toolbar>
  <div mat-dialog-content>
<!--    <mat-card>-->
      <full-calendar #calendar [options]="calendarOptions" [deepChangeDetection]="true"></full-calendar>
<!--    </mat-card>-->
  </div>
  <mat-card-actions>
    <span class="spacer-row"></span>
    <button type="button" mat-flat-button color="primary" [mat-dialog-close]="child">Cerrar</button>
  </mat-card-actions>
</div>

